.main-title {
  text-align: center;
  font-size: 72px;
  color: #00ff88;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
}

.subtitle {
  text-align: center;
  font-size: 36px;
  color: #00ff88;
  margin-bottom: 40px;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(0, 255, 136, 0.4);
}

/* Ajust de mida de les slides */
.slider-container {
  max-width: 1400px;
  height: 90vh;
}

.slide.active {
  flex: 3; /* fa que la slide activa sigui més gran */
}

@media (max-width: 768px) {
  .accordion-slider {
    flex-direction: column;
  }

  .slide {
    min-height: 100px;
  }

  .slide.active {
    flex: 2.5;
  }
}
